#newfriends {
	padding: 0 13px;
	flex: 1;
	flex-direction: column;
	background: #fff;
	min-height: 230px;
	> :first-child {
		padding: 3px;
		text-align: right;
	}

	.bordered {
		&:not(:last-child) {
			border-bottom: 1px solid rgba(0,0,0,.1);
		}
	}
	.item {
		padding: 6px 0;
		align-items: center;
		.ava {
			margin-right: 6px;
		}
		.user {
			flex: 1;
			flex-direction: column;
			align-items: flex-start;
		}
		.status {
			word-break: break-word;
		}
		.fa {
			font-size: 30px;
			text-align: right;
			opacity: .5;
			margin-left: 15px;
			&:hover {
				opacity:1;
			}
		}
	}
}

#friends-online.all {
	// height: 230px;
	height: 220px;
	overflow: auto;
	justify-content: space-between;
}
