<!DOCTYPE html>
<html ng-app="PopupApp">
<head>
	<title>Popup process</title>
	<meta charset="UTF-8">
	<base target="_blank">

	<link rel="stylesheet" href="css/bower.css">
	<link rel="stylesheet" href="css/popup.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<script src="angular.min.js"></script>

	<script src="../inc/jquery.js"></script>
	<script src="../inc/App.class.js"></script>

	<script src="js/PopupApp.js"></script>

	<script src="js/Global/StorageApp.js"></script>
	<script src="js/Global/PopupL10nApp.js"></script>

	<script src="js/Header/PopupHeaderApp.js"></script>
	<script src="js/Header/HeaderCtrl.js"></script>
	<script src="js/Header/DropDownFactory.js"></script>

	<script src="js/Sidebar/PopupSidebarApp.js"></script>
	<script src="js/Sidebar/SidebarFactory.js"></script>
</head>
<body>
	<div class="wraper" ng-if="false"><div><i class="icon-spin4 animate-spin"></i></div></div>
	<div id="alert"><table></table></div>
	<div class="container">
		<header ng-controller="HeaderCtrl" ng-include="'js/Header/HeaderTempl.html'"></header>
		<menu id="menu" class="" ng-controller="SidebarCtrl">
			<li id="{{item.id}}" ng-repeat="item in menu">
				<a ng-href="{{item.url}}" >
					<span class="i18n">{{item.ancor}}</span>
					<span ng-if="item.counter" class="counter" ng-click="false">{{stg.counter[item.id] ? '+'+stg.counter[item.id] : ''}}</span>
				</a>
			</li>
		</menu>
		<div id="friends-online" class="slider panel open"></div>
		<div id="newfriends" class="slider panel open" data-before="Please inform the developers."></div>
		<div id="newmess" class="slider panel open" data-before="Please inform the developers."></div>
		<div id="history" class="slider panel open"></div>
	</div>

</body>
</html>
