# ---- ФАЙЛЫ ----
*.zip
*.sublime-project
*.sublime-workspace
/src/**/*.css
/src/**/*.css.map
/Архив

# ---- ДИРЕКТОРИИ ----
.sass-cache
/img/*
/.cache/*
/node_modules/*
/Архив/*
/src/bower_components/*