@import "../../libs/helpers/_variables";
@import "../../libs/helpers/_mixins";
$height: 42px;
@import 'variables';
@import 'mixins';
@import 'dropdowns';


header {
	height: $height;
	color: #fff;
	background: $mainColor;
	display: flex;
	.navbar-brand,
	> span,
	> a {
		cursor: pointer;
		color: #fff;
		line-height: $height;
		font-size: 17px;
		padding: 0 13px;
		position: relative;
		&:hover {
			background-color: rgba(0, 0, 0, 0.06);
		}
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	.navbar-brand {
	    font-size: 13px;
	    font-weight: bold;
	    box-sizing: border-box;
	    display: flex;
	    flex: 1;
	    .fa {
		    margin-right: 10px;
				&.fa-vk {
					font-size: 30px;
					line-height: $height - 4;
				}
	    }
	}
	.notifications {
		&.empty {
			color: #33567f;
			&:after {
				display:none;
			}
		}
		&:after {
		    content: attr(data-badge);
		    display: block;
		    position: absolute;
		    padding: 1px 4px;
		    border: 2px solid #597da3;
		    border-radius: 12px;
		    color: #fff;
		    font-size: 9px;
		    height: 11px;
		    line-height: 11px;
		    top: 10px;
		    left: 21px;
		    background-color: #ff734c;
		    text-align: center;
		}
		&:hover {
			&:after {
				border-color: #507299;
			}
		}
	}
	.navbar-right {
		float: right;
	}
	.dropdown {
		&.open {
			background-color: rgba(0, 0, 0, 0.11);
			.profile .caret {
				opacity: 1;
			}
		}
		.dropdown-menu {
			left: auto;
			right: 0;
			a:hover, a:focus {
				background-color: rgba($mainColor, 0.09);
			}
			.divider {
			    margin: 5px 0;
			}
		}
	}
	.profile {
		float: right;
		font-weight: 700;
		font-size:12.5px;
		position: relative;
		border-color: $mainColor;
		.online-indicator {
			@extend %online-indecator;
			bottom: 5px;
			right: 16px;
		}
		img {
		    width: 28px;
		    height: 28px;
		    border-radius: 14px;
		    margin: 0 5px;
		    vertical-align: middle;
		}
		.caret {
			opacity: 0.5;
		}
	}
}
