@import "../../libs/helpers/_variables";
@import "../../libs/helpers/_mixins";
@import 'variables';
@import 'mixins';
@import 'dropdowns';


header {
	height: $headerHeight;
	color: #fff;
	background: $mainColor;
	display: flex;
	.navbar-brand,
	> span,
	> a {
		cursor: pointer;
		color: #fff;
		line-height: $headerHeight;
		font-size: 17px;
		padding: 0 13px;
		position: relative;
		&:hover {
			background-color: rgba(0, 0, 0, 0.06);
		}
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	.navbar-brand {
	    font-size: 13px;
	    font-weight: bold;
	    box-sizing: border-box;
	    display: flex;
	    flex: 1;
	    .fa {
		    margin-right: 10px;
				&.fa-vk {
					font-size: 30px;
					line-height: $headerHeight - 4;
				}
	    }
	}
	.notifications {
		&.empty {
			color: #33567f;
			&:after {
				display:none;
			}
		}
		&:after {
		    content: attr(data-badge);
		    display: block;
		    position: absolute;
		    padding: 1px 4px;
		    border: 2px solid #597da3;
		    border-radius: 12px;
		    color: #fff;
		    font-size: 9px;
		    height: 11px;
		    line-height: 11px;
		    top: 10px;
		    left: 21px;
		    background-color: #ff734c;
		    text-align: center;
		}
		&:hover {
			&:after {
				border-color: #507299;
			}
		}
	}
	.navbar-right {
		float: right;
	}
	.dropdown {
		&.open {
			background-color: rgba(0, 0, 0, 0.11);
			.profile .caret {
				opacity: 1;
			}
		}
		.dropdown-menu {
			top: 45px;
			left: auto;
			right: 0;
			box-shadow: 0 1px 3px rgba(0,0,0,.1);
			border: 1px solid #c5d0db;
			font-size: 12.5px;
			border-radius: 3px;
			padding: 2px 0;
			&%arrow {
				display: block;
				position: absolute;
				pointer-events: none;
				border: solid transparent;
				content: '';
				height: 0;
				width: 0;
				bottom: 100%;
				right: 42px;
			}
			&:before {
				@extend %arrow;
				border-width: 6px;
				margin: 0 -6px;
				border-bottom-color: #c5d0db;
			}
			&:after {
				@extend %arrow;
				border-width: 5px;
				margin: 0 -5px;
				border-bottom-color: #fff;
			}
			a {
				display: block;
				white-space: nowrap;
				position: relative;
				line-height: 25px;
				padding: 0 15px;
				color: #2a5885;
				&:hover, &:focus {
					color: #2a5885;
					background-color: rgba($mainColor, 0.09);
				}
			}
			.divider {
					margin: 4px 13px;
					background-color: #dbe4ec;
			}
		}
	}
	.profile {
		float: right;
		font-weight: 700;
		font-size:12.5px;
		position: relative;
		border-color: $mainColor;
		.online-indicator {
			@extend %online-indecator;
			bottom: 5px;
			right: 16px;
		}
		img {
		    width: 28px;
		    height: 28px;
		    border-radius: 14px;
		    margin: 0 5px;
		    vertical-align: middle;
		}
		.caret {
			opacity: 0.5;
		}
	}
}
