$mainColor: #567ca4;
body {
	color: #000;
	font-size: 15px;
	font-family: "Open Sans","Helvetica Neue", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background: #edeef0;
	margin: 0 auto;
	box-sizing: border-box;
}
header, .wrapper {
	max-width: 1366px;
	margin: 0 auto;
}
ng-include.header {
	background: #507299;
	display: block;
}

.wrapper {
	display: flex;
}
.option-panels {
	flex: 5;
}
.widget {
	flex: 3;
	&.box {
		margin-left: 0;
	}
}
.box {
	margin: 20px;
}
.panel {
	padding: 0px;
	background: #FFF;
	box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
	color: #2b2f33;
	box-sizing: border-box;
	.header {
		font-size: 19px;
		padding: 15px 30px;
		background-color: #f7f8fa;
		border-bottom: 1px solid #eef0f3;
	}
	.content {
		padding: 25px 30px 30px;
	}
}

.audioOption > .content {
	display: flex;
	justify-content: space-between;
	label {
		flex-grow: 1;
		text-align: center;
		color: rgba(0,0,0,0.3);
		&:hover { color: lighten($mainColor, 15%); }
		&.active { color: $mainColor; }
		.fa {
			color: inherit;
			display: block;
			margin: auto;
			font-size: 300%;
			line-height: normal;
		}
	}
}

label {
	position: relative;
	display: block;
	cursor: pointer;
	input {
		display: none;
	}
	i.fa {
		color: #567ca4;
		width: 20px;
		font-size: 120%;
		line-height: 20px;
		vertical-align: middle;
	}
}
[class^="icon-"], [class*=" icon-"] {
	font-size: 1.5em;
	vertical-align: middle;
}

#donate {
	text-align: center;
}

%btn {
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	text-align: center;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	vertical-align: top;
	&:not(:disabled) {
		cursor: pointer;
		&:active {
			padding-top: 8px;
			padding-bottom: 7px;
			background-color: #ccc;
		}
	}
	&:focus {
		outline: none;
	}
}

@mixin btnColor($mainColor, $textColor: #fff) {
	background-color: $mainColor;
	color: $textColor;
	&:disabled {
		background-color: lighten($mainColor, 30%);
	}
	&:not(:disabled) {
		&:active {
			background-color: darken($mainColor, 5%) !important;
		}
		&:hover {
			background-color: lighten($mainColor, 5%);
		}
	}
}

.buttons-conteiner {
	display: flex;
	.save {
		@extend %btn;
		@include btnColor(#6287ae);
	}

	.clear {
		@extend %btn;
		@include btnColor(#dc4040);
		margin-left: auto;
	}
}
