$mainColor: #567ca4;
body {
	color: #000;
	font: normal 15px "Arial", sans-serif;
	background: #f0f2f5;
	margin: 0 auto;
	box-sizing: border-box;
}
.wrapper, header {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 30px;
}
ng-include.header {
	background: $mainColor;
	display: block;
}
.news {
	float: right;
	@media (max-width:1000px) {
		display: none;
	}
}

.panel {
	max-width: 600px;
	padding: 0px;
	background: #FFF;
	box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
	color: #2b2f33;
	margin-bottom: 20px;
	box-sizing: border-box;
	.header {
		font-size: 19px;
		padding: 15px 30px;
		background-color: #f7f8fa;
		border-bottom: 1px solid #eef0f3;
	}
	.content {
		padding: 25px 30px 30px;
	}
}
label {
	position: relative;
	display: block;
	cursor: pointer;
	input {
		display: none;
	}
	i.fa {
		color: #567ca4;
		width: 20px;
		font-size: 120%;
		line-height: 20px;
		vertical-align: middle;
	}
}
[class^="icon-"], [class*=" icon-"] {
	font-size: 1.5em;
	vertical-align: middle;
}

#donate {
	text-align: center;
}

.save {
		padding: 7px 16px 8px;
	// margin: 0;
	font-size: 12px;
	display: inline-block;
	// zoom: 1;
	cursor: pointer;
	// white-space: nowrap;
	// outline: none;
	// font-family: Open Sans,Helvetica Neue,sans-serif;
	vertical-align: top;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	// background: none;
	background-color: #6287ae;
	color: #fff;
	border: 0;
	border-radius: 2px;
	// box-sizing: border-box;
	&:disabled {
		opacity: 0.5;
	}
}
