$mainColor: #567ca4;
body {
	color: #000;
	font: normal 15px "Arial", sans-serif;
	background: #f0f2f5;
	margin: 0 auto;
	box-sizing: border-box;
}
.wrapper, header {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 30px;
}
ng-include.header {
	background: $mainColor;
	display: block;
}
.news {
	float: right;
	@media (max-width:1000px) {
		display: none;
	}
}

.panel {
	max-width: 600px;
	padding: 0px;
	background: #FFF;
	box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
	color: #2b2f33;
	margin-bottom: 20px;
	box-sizing: border-box;
	.header {
		font-size: 19px;
		padding: 15px 30px;
		background-color: #f7f8fa;
		border-bottom: 1px solid #eef0f3;
	}
	.content {
		padding: 25px 30px 30px;
	}
}

.audioOption > .content {
	display: flex;
	justify-content: space-between;
	label {
		flex-grow: 1;
		text-align: center;
		color: rgba(0,0,0,0.3);
		&:hover { color: lighten($mainColor, 15%); }
		&.active { color: $mainColor; }
		.fa {
			color: inherit;
			display: block;
			margin: auto;
			font-size: 300%;
			line-height: normal;
		}
	}
}

label {
	position: relative;
	display: block;
	cursor: pointer;
	input {
		display: none;
	}
	i.fa {
		color: #567ca4;
		width: 20px;
		font-size: 120%;
		line-height: 20px;
		vertical-align: middle;
	}
}
[class^="icon-"], [class*=" icon-"] {
	font-size: 1.5em;
	vertical-align: middle;
}

#donate {
	text-align: center;
}

%btn {
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12px;
	font-family: Open Sans,Helvetica Neue,sans-serif;
	text-align: center;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	vertical-align: top;
	&:not(:disabled) {
		cursor: pointer;
		&:active {
			padding-top: 8px;
			padding-bottom: 7px;
			background-color: #ccc;
		}
	}
	&:focus {
		outline: none;
	}
}


@mixin btnColor($selector, $mainColor, $textColor: #fff) {
  #{$selector} {
		@extend %btn;
		background-color: $mainColor;
		color: $textColor;
		&:disabled {
			background-color: lighten($mainColor, 30%);
		}
		&:not(:disabled) {
			&:active {
				background-color: darken($mainColor, 5%) !important;
			}
			&:hover {
				background-color: lighten($mainColor, 5%);
			}
		}
  }
}

@include btnColor('.save', #6287ae);
@include btnColor('.reset', #dc4040);
