@charset "UTF-8";
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777777; }
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }
.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: ""; }
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?24024807");
  src: url("../font/fontello.eot?24024807#iefix") format("embedded-opentype"), url("../font/fontello.woff?24024807") format("woff"), url("../font/fontello.ttf?24024807") format("truetype"), url("../font/fontello.svg?24024807#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24024807#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-toggle-on:before {
  content: '\e800'; }

/* '' */
.icon-toggle-off:before {
  content: '\e801'; }

/* '' */
.icon-cog:before {
  content: '\e802'; }

/* '' */
.icon-ok:before {
  content: '\e803'; }

/* '' */
.icon-cancel:before {
  content: '\e804'; }

/* '' */
.icon-spin4:before {
  content: '\e805'; }

/* '' */
.icon-camera:before {
  content: '\e806'; }

/* '' */
.icon-video:before {
  content: '\e807'; }

/* '' */
.icon-music:before {
  content: '\e808'; }

/* '' */
.icon-pencil:before {
  content: '\e809'; }

/* '' */
.icon-chat:before {
  content: '\e80a'; }

/* '' */
.icon-doc:before {
  content: '\e80b'; }

/* '' */
.icon-heart:before {
  content: '\e80c'; }

/* '' */
.icon-logout:before {
  content: '\e80d'; }

/* '' */
.icon-share:before {
  content: '\e80e'; }

/* '' */
.icon-emo-happy:before {
  content: '\e80f'; }

/* '' */
.icon-link:before {
  content: '\e810'; }

/* '' */
.icon-gift:before {
  content: '\e811'; }

/* '' */
.icon-attach:before {
  content: '\e812'; }

/* '' */
.icon-location:before {
  content: '\e813'; }

/* '' */
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
body {
  color: #000;
  font: normal 12px "Arial", sans-serif;
  margin: 0;
  width: 459px;
  background: #f0f2f5; }
  body .grayscale {
    -webkit-filter: grayscale(100%); }

a {
  color: #2B587A;
  cursor: pointer;
  text-decoration: none; }

.wraper, #alert {
  display: none;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 15;
  background: rgba(255, 255, 255, 0.9) no-repeat center; }
  .show.wraper, .show#alert {
    display: block; }

.wraper div {
  font-size: 120%;
  padding-top: 25%;
  text-align: center; }
  .wraper div a:hover {
    text-decoration: underline; }
.wraper i {
  color: #2B587A;
  font-size: 40px; }

#alert {
  top: -100%;
  display: block;
  transition: top .3s; }
  #alert.show {
    top: 0%; }
  #alert.error {
    background: #fff !important; }
  #alert table {
    width: 100%; }
    #alert table td {
      text-align: center;
      vertical-align: middle; }
    #alert table thead td, #alert table tfoot td {
      height: 30px; }
      #alert table thead td a, #alert table tfoot td a {
        border-bottom: 1px dotted; }
      #alert table thead td img, #alert table tfoot td img {
        max-height: 128px;
        max-width: 80%; }
    #alert table tbody td {
      height: 214px;
      font-size: 120%;
      padding: 0px 15px; }

.col_bg {
  background: #E9EDF1;
  padding: 5px; }
  .col_bg.hovered:hover {
    background: #BBC7D3 !important;
    color: #2B587A !important; }

.icon-spin4.animate-spin {
  cursor: wait; }

header {
  height: 50px;
  color: #fff;
  background: #567ca4; }
  header .navbar-brand, header span {
    color: #fff;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px 0 15px; }
    header .navbar-brand:hover, header span:hover {
      background-color: #51759b; }
    header .navbar-brand a, header span a {
      color: #fff; }
  header .navbar-brand {
    font-size: 13px;
    font-weight: bold;
    padding-left: 51px;
    background: url("../img/dev_logo_vk.png") 10px center no-repeat; }
  header .navbar-right {
    float: right; }
  header .dropdown.open {
    background-color: #4b6d94; }
  header .dropdown .dropdown-menu {
    left: auto;
    right: 0; }
  header .profile {
    float: right; }
    header .profile .ava {
      float: right;
      display: inline; }
      header .profile .ava img {
        margin: 9px 0 0 10px;
        width: 32px;
        height: 32px;
        -webkit-border-radius: 16px; }

.panel {
  padding: 10px;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  color: #2b2f33;
  margin-top: 3px;
  box-sizing: border-box; }
  .panel.slider {
    width: 313px;
    right: -5px;
    position: relative;
    overflow: hidden;
    height: 235px;
    display: inline-block;
    position: absolute;
    left: 470px;
    transition: left .3s; }
    .panel.slider.open {
      left: 145px; }

#menu {
  padding: 5px 0;
  box-sizing: border-box;
  font: menu;
  width: 138px;
  float: left;
  list-style: none;
  margin: 3px 0px 2px 1px; }
  #menu li {
    overflow: hidden; }
  #menu a {
    display: block;
    font-size: 11px;
    line-height: 22px;
    padding: 0px 0px 0px 6px; }
    #menu a:hover {
      background-color: #E1E7ED; }
    #menu a .counter {
      background: #D5DDE5;
      border-radius: 2px;
      color: #45688E;
      float: right;
      font-size: 9px;
      font-weight: bold;
      line-height: 19px;
      margin: 2px;
      padding: 0 4px;
      transition: background-color 200ms linear, color 200ms linear; }

#friends-online {
  padding: 11px 2px; }
  #friends-online:empty {
    background: url(../img/alone.jpg) no-repeat center, #fff; }
  #friends-online figure {
    display: inline-block;
    height: 100px;
    margin: 0 0 15px 0;
    overflow: hidden;
    position: relative;
    text-align: right;
    vertical-align: top;
    width: 100px; }
    #friends-online figure:nth-of-type(2), #friends-online figure:nth-of-type(5) {
      margin-left: 4.5px;
      margin-right: 4.5px; }
    #friends-online figure:hover figcaption {
      bottom: 0px; }
    #friends-online figure:hover .icon-cancel {
      right: 0px; }
    #friends-online figure:hover .icon-pencil {
      left: 0px; }
    #friends-online figure a {
      display: block; }
    #friends-online figure img {
      margin: 0; }
    #friends-online figure .icon-cancel, #friends-online figure .icon-pencil {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: block;
      font-size: 11px;
      line-height: 15px;
      padding: 2px;
      position: absolute;
      text-align: center; }
    #friends-online figure .icon-cancel {
      right: -100%;
      z-index: 1;
      transition: right .3s; }
    #friends-online figure .icon-pencil {
      left: -100%;
      transition: left .3s; }
    #friends-online figure .delete a {
      cursor: wait; }
    #friends-online figure .delete .icon-cancel, #friends-online figure .delete .icon-pencil, #friends-online figure .delete figcaption {
      display: none; }
    #friends-online figure .delete .wait {
      cursor: wait;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      height: 100%;
      width: 100%; }
      #friends-online figure .delete .wait i {
        position: absolute;
        color: #fff;
        background: none;
        font-size: 30px;
        left: 50%;
        margin-left: -21px;
        margin-top: -15px;
        top: 50%; }
  #friends-online figcaption {
    background: rgba(0, 0, 0, 0.5);
    bottom: -100%;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 11px;
    line-height: 15px;
    padding: 5px;
    position: absolute;
    text-align: center;
    transition: bottom .3s;
    width: 100%; }

#newmess {
  padding: 0; }

.slide.open {
  background-color: #597DA3 !important;
  color: #fff !important; }

#newfriends {
  overflow-y: auto;
  padding: 0; }
  #newfriends figure {
    overflow: hidden;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #e4e8ed; }
    #newfriends figure i {
      border-radius: 2px;
      color: rgba(43, 88, 122, 0.5);
      cursor: pointer;
      float: right;
      font-size: 30px;
      padding: 8px 4px; }
      #newfriends figure i:hover {
        color: #2B587A; }
      #newfriends figure i.icon-spin4:hover {
        background: none !important;
        color: rgba(43, 88, 122, 0.5) !important;
        cursor: wait; }
  #newfriends figcaption a {
    display: block;
    font-weight: bold; }

.ava img {
  float: left;
  margin-right: 10px;
  background: url(../img/camera_100.png);
  background-size: 100% 100%; }

#newmess #mCSB_2_container:empty::before,
#newmess:empty::before,
#newfriends:empty {
  content: attr(data-before);
  font-size: 15px;
  text-align: center;
  display: table-cell;
  height: 210px;
  width: 320px;
  vertical-align: middle;
  opacity: .3; }

#newmess {
  overflow: auto; }
  #newmess .dialog {
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    border-bottom: 1px solid #e4e8ed; }
    #newmess .dialog.dialog-unread, #newmess .dialog.dialog:hover, #newmess .dialog.dialog.open {
      background: #edf1f5;
      border-color: #DAE1E8; }
    #newmess .dialog .group-photo {
      overflow: hidden;
      background: none;
      float: left;
      margin-right: 10px;
      width: 50px; }
      #newmess .dialog .group-photo .ava-half {
        width: 23px;
        height: 50px;
        overflow: hidden;
        border-radius: 2px;
        margin: 0 4px 0 0;
        float: left; }
        #newmess .dialog .group-photo .ava-half:nth-of-type(2) {
          margin-right: 0; }
        #newmess .dialog .group-photo .ava-half img {
          margin: 0px -12px; }
        #newmess .dialog .group-photo .ava-half .online:before {
          left: 14px; }
      #newmess .dialog .group-photo .ava-quarter {
        width: 23px;
        height: 23px;
        overflow: hidden;
        border-radius: 2px;
        margin: 0 4px 4px 0; }
        #newmess .dialog .group-photo .ava-quarter:nth-of-type(3), #newmess .dialog .group-photo .ava-quarter:nth-of-type(4) {
          margin-bottom: 0; }
        #newmess .dialog .group-photo .ava-quarter .online:before {
          top: 17px;
          left: 17px;
          width: 4px;
          height: 4px;
          border: 1px solid #EEE;
          background: #8fa9c7;
          border-radius: 2px; }
  #newmess .dialog {
    /* Диалог с Администрацией */ }
    #newmess .dialog#dialog-100 .name {
      color: #2E7B27;
      font-weight: bold; }
    #newmess .dialog.dialog.open .date, #newmess .dialog.dialog-unread .date, #newmess .dialog:hover .date {
      color: #8795a5; }
    #newmess .dialog.dialog-unread .markAsRead {
      display: block; }
    #newmess .dialog div {
      word-break: break-word; }
    #newmess .dialog .name {
      display: block;
      margin-bottom: 2px; }
    #newmess .dialog .date {
      font-weight: normal;
      color: #999999;
      font-size: 0.9em; }
    #newmess .dialog .markAsRead {
      border-radius: 2px;
      color: rgba(43, 88, 122, 0.5);
      float: right;
      position: relative;
      z-index: 100;
      display: none; }
      #newmess .dialog .markAsRead:hover {
        color: #2b587a; }
    #newmess .dialog .mess-container {
      display: block;
      margin-left: 60px;
      overflow: hidden; }
    #newmess .dialog .body {
      color: #000; }
      #newmess .dialog .body[class^="icon-"]:before, #newmess .dialog .body[class*=" icon-"]:before {
        display: inline; }
      #newmess .dialog .body .system {
        font-style: italic;
        opacity: 0.5; }
      #newmess .dialog .body .emoji {
        display: inline;
        width: 16px;
        height: 16px;
        vertical-align: top;
        margin: 0px 1px; }
        #newmess .dialog .body .emoji .sticker {
          height: 32px;
          width: auto; }
    #newmess .dialog a {
      display: inline; }
      #newmess .dialog a:hover {
        text-decoration: underline; }
    #newmess .dialog .ans {
      clear: both;
      padding-top: 5px;
      display: none; }
      #newmess .dialog .ans textarea {
        width: 100%;
        box-sizing: border-box;
        resize: vertical;
        height: 100%;
        overflow: hidden;
        border: 1px solid #C0CAD5;
        font: inherit; }
        #newmess .dialog .ans textarea:focus {
          outline: none; }
    #newmess .dialog .fwd {
      padding-left: 5px;
      border-left: 2px solid #C3D1E0;
      overflow: hidden; }

.online {
  position: relative; }
  .online:before {
    background: url(../img/UserOnlineMark.png);
    content: "";
    display: block;
    height: 10px;
    left: 41px;
    position: absolute;
    top: 41px;
    width: 10px; }

.mCSB_scrollTools {
  width: 8px;
  right: -3px; }

.mCSB_inside > .mCSB_container {
  margin-right: 0px; }

.mCSB_outside + .mCSB_scrollTools {
  right: -7px; }

/*# sourceMappingURL=popup.css.map */
