#friends-online {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-left: 1px solid #e6e7eb;
  align-items: flex-start;
  justify-content: flex-start;
	align-content: flex-start;
	.item {
		padding: 0px 3px 5px;
		text-align: center;
		overflow: hidden;
		display:block;
		position: relative;
	    &:hover {
	    	text-decoration:underline;
	    }
	    img {
		    display: block;
		    width: 50px;
		    border-radius: 50%;
		    margin: 0 auto;
		}
		.online-indicator {
			position: absolute;
			border-radius: 50px;
			color: #fff;
			z-index: 5;
			border: 3px solid;
			border-color: inherit;
			background-color: #62b245;
			content: '';
			height: 9px;
			width: 9px;
			bottom: 2px;
			right: 5px;
		}
	}
}
