#friends-online {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-left: 1px solid #e6e7eb;
  align-content: flex-start;
  justify-content: flex-start;

	.item {
		padding: 0px 3px 5px;
		text-align: center;
		overflow: hidden;
		display:block;
	    &:hover {
	    	text-decoration:underline;
	    }
	    img {
		    display: block;
		    width: 50px;
		    border-radius: 50%;
		    margin: 0 auto;
		}
		span {
		    display: block;
		    width: 100%;
		    word-break: break-all;
		}
	}
}
