#newfriends {
	padding: 0 13px;
    flex: 1;
    flex-direction: column;
    background: #fff;
    .item {
    	flex: 1;
    	padding: 6px 0;
    	align-items: center;
    	&:not(:last-child) {
			border-bottom: 1px solid rgba(0,0,0,.1);
    	}
    	.ava {
			margin-right: 6px;
    	}
    	.user {
    		flex: 1;
    		flex-direction: column;
    	}
    	.fa {
			font-size: 30px;
			text-align: right;
			opacity: .5;
			margin-left: 15px;
		    &:hover {
		    	opacity:1;
		    }
    	}
    }
}