@charset "UTF-8";
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777777; }
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }
.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: ""; }
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../font/OpenSans-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../font/OpenSans-Bold-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../font/OpenSans-cyrillic.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../font/OpenSans-Bold-cyrillic.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
header {
  height: 50px;
  color: #fff;
  background: #567ca4; }
  header .navbar-brand, header > span, header > a {
    cursor: pointer;
    color: #fff;
    line-height: 50px;
    font-size: 17px;
    padding: 0 13px; }
    header .navbar-brand:hover, header > span:hover, header > a:hover {
      background-color: rgba(0, 0, 0, 0.06); }
    header .navbar-brand a, header > span a, header > a a {
      color: #fff; }
  header .navbar-brand {
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    flex: 1; }
    header .navbar-brand .fa {
      font-size: 30px;
      line-height: 50px;
      margin-right: 10px; }
  header .notifications.empty {
    color: #33567f; }
    header .notifications.empty:after {
      display: none; }
  header .notifications:after {
    content: attr(data-badge);
    display: block;
    position: absolute;
    padding: 1px 4px;
    border: 2px solid #597da3;
    border-radius: 12px;
    color: #fff;
    font-size: 9px;
    height: 11px;
    line-height: 11px;
    top: 10px;
    left: 21px;
    background-color: #ff734c;
    text-align: center; }
  header .notifications:hover:after {
    border-color: #507299; }
  header .navbar-right {
    float: right; }
  header .dropdown.open {
    background-color: rgba(0, 0, 0, 0.11); }
  header .dropdown .dropdown-menu {
    left: auto;
    right: 0; }
    header .dropdown .dropdown-menu a:hover, header .dropdown .dropdown-menu a:focus {
      background-color: rgba(86, 124, 164, 0.09); }
    header .dropdown .dropdown-menu .divider {
      margin: 5px 0; }
  header .profile {
    float: right;
    font-weight: 700;
    font-size: 11px; }
    header .profile img {
      width: 28px;
      height: 28px;
      border-radius: 14px;
      margin: 0 5px;
      vertical-align: middle; }
    header .profile .caret {
      opacity: 0.5; }

aside {
  padding: 0;
  flex-basis: 138px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 220px; }
  aside a {
    padding: 0px 0px 0px 6px;
    flex: 1;
    display: flex;
    flex-flow: row nowrap; }
    aside a:hover {
      background-color: rgba(86, 124, 164, 0.2); }
    aside a translate {
      flex: 1;
      display: flex;
      align-items: center; }
    aside a .counter {
      background: rgba(86, 124, 164, 0.2);
      font-size: 10px;
      font-weight: bold;
      flex-basis: 14px;
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 0 3px;
      box-sizing: border-box; }

#friends-online {
  padding: 5px;
  margin-left: 3px;
  flex: 1;
  display: flex;
  flex-flow: row wrap; }
  #friends-online .item {
    padding: 0px 5px 5px;
    text-align: center;
    overflow: hidden;
    display: block; }
    #friends-online .item:hover {
      text-decoration: underline; }
    #friends-online .item img {
      display: block;
      width: 50px;
      border-radius: 50%;
      margin: 0 auto; }
    #friends-online .item span {
      display: block;
      width: 100%;
      word-break: break-all; }

#newfriends {
  flex: 1;
  flex-direction: column; }
  #newfriends .item {
    padding: 0 13px;
    background: #fff; }
    #newfriends .item .bordered {
      flex: 1;
      padding: 6px 0;
      align-items: center; }
    #newfriends .item:not(:last-child) .bordered {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #newfriends .item .ava {
      margin-right: 6px; }
    #newfriends .item .user {
      flex: 1;
      flex-direction: column; }
    #newfriends .item .fa {
      flex-basis: 50px;
      font-size: 30px;
      text-align: center;
      opacity: .5; }
      #newfriends .item .fa:hover {
        opacity: 1; }

body {
  background: #f0f2f5;
  color: #000;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  margin: 0;
  width: 460px; }

a {
  color: #33567f;
  text-decoration: none; }

.flex {
  display: flex; }

.panel {
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #e1e2e6, 0 0 0 1px #e6e7eb;
  color: #2b2f33;
  margin-top: 3px;
  box-sizing: border-box; }
  .panel.slider {
    width: 313px;
    right: -5px;
    position: relative;
    overflow: hidden;
    max-height: 208px;
    display: inline-block;
    position: absolute;
    left: 470px;
    transition: left .2s; }
    .panel.slider.open {
      left: 145px; }

.ava img {
  float: left;
  background: url(../img/camera_100.png);
  background-size: 100% 100%;
  border-radius: 300px; }

#newmess .dialog .markAsRead,
#newmess .dialog .history {
  color: rgba(43, 88, 122, 0.5);
  float: right;
  position: relative;
  z-index: 20;
  opacity: 0; }
  #newmess .dialog .markAsRead:hover,
  #newmess .dialog .history:hover {
    color: #2b587a; }
  #newmess .dialog:hover .markAsRead,
  #newmess .dialog:hover .history {
    opacity: 1; }

.emoji {
  display: inline;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 0px 1px; }
  .emoji.sticker {
    height: 32px;
    width: auto; }

#newmess {
  overflow: auto;
  padding: 0; }
  #newmess .dialog {
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    word-break: break-word;
    /* Диалог с Администрацией */ }
    #newmess .dialog + .dialog {
      border-top: 1px solid rgba(86, 124, 164, 0.15); }
    #newmess .dialog:hover, #newmess .dialog.open, #newmess .dialog.dialog-unread {
      border-color: rgba(86, 124, 164, 0.22);
      background: rgba(86, 124, 164, 0.1); }
      #newmess .dialog:hover + .dialog, #newmess .dialog.open + .dialog, #newmess .dialog.dialog-unread + .dialog {
        border-color: rgba(86, 124, 164, 0.3); }
      #newmess .dialog:hover .name .date, #newmess .dialog.open .name .date, #newmess .dialog.dialog-unread .name .date {
        color: #879BB0; }
      #newmess .dialog:hover .online:before, #newmess .dialog.open .online:before, #newmess .dialog.dialog-unread .online:before {
        border-color: #eef2f6; }
    #newmess .dialog.dialog-answer-unread .mess-container message {
      padding: 5px;
      background: rgba(86, 124, 164, 0.1); }
    #newmess .dialog.dialog-answer-unread .online:before {
      border-color: #eef2f6; }
    #newmess .dialog.open {
      background-color: #7293b6; }
      #newmess .dialog.open .header, #newmess .dialog.open .header *,
      #newmess .dialog.open .mess-container, #newmess .dialog.open .mess-container *,
      #newmess .dialog.open .name .date {
        color: #fff; }
      #newmess .dialog.open .online:before {
        border-color: #7293b6; }
    #newmess .dialog#dialog-100 .name {
      color: #2E7B27;
      font-weight: bold; }
    #newmess .dialog.dialog-unread .markAsRead {
      display: block; }
    #newmess .dialog.dialog-group .photo {
      border-radius: 30px;
      overflow: hidden; }
      #newmess .dialog.dialog-group .photo img {
        border-radius: 0; }
    #newmess .dialog .header {
      padding-left: 60px; }
    #newmess .dialog .photo {
      margin-left: -60px;
      float: left; }
    #newmess .dialog .ava-half {
      width: 23px;
      height: 50px;
      overflow: hidden;
      margin: 0 4px 0 0;
      float: left; }
      #newmess .dialog .ava-half:nth-of-type(2) {
        margin-right: 0; }
      #newmess .dialog .ava-half img {
        margin: 0px -12px; }
    #newmess .dialog .ava-quarter {
      width: 23px;
      height: 23px;
      overflow: hidden;
      margin: 0 4px 4px 0; }
      #newmess .dialog .ava-quarter:nth-of-type(1), #newmess .dialog .ava-quarter:nth-of-type(3) {
        float: left; }
      #newmess .dialog .ava-quarter:nth-of-type(3), #newmess .dialog .ava-quarter:nth-of-type(4) {
        margin-bottom: 0; }
    #newmess .dialog .name {
      display: block;
      margin-bottom: 2px;
      font-size: 11px; }
    #newmess .dialog .date {
      font-weight: normal;
      color: #999999;
      font-size: 0.9em;
      margin-left: 5px;
      opacity: 0.7; }
    #newmess .dialog .markAsRead {
      display: none; }
    #newmess .dialog .mess-container {
      display: block;
      overflow: hidden;
      padding-left: 10px;
      color: #000; }
      #newmess .dialog .mess-container .system {
        font-style: italic;
        opacity: 0.5; }
      #newmess .dialog .mess-container .ava img {
        margin-right: 5px; }
    #newmess .dialog a {
      display: inline; }
      #newmess .dialog a:hover {
        text-decoration: underline; }
    #newmess .dialog .ans {
      clear: both;
      padding-top: 10px;
      display: none;
      margin: -5px -5px -8px -5px; }
      #newmess .dialog .ans textarea {
        width: 100%;
        box-sizing: border-box;
        resize: vertical;
        height: 100%;
        min-height: 35px;
        overflow: hidden;
        border: none;
        border-top: solid 1px #e4e6e9;
        padding: 7px;
        font: inherit; }
        #newmess .dialog .ans textarea:focus {
          outline: none; }
        #newmess .dialog .ans textarea.error {
          border-color: #7293B6;
          box-shadow: 0px 0px 5px red inset; }
  #newmess message {
    display: block;
    overflow: hidden;
    margin-bottom: 5px; }

.online {
  position: relative; }
  .online:before {
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #8ac176;
    border: solid 2px #fff;
    position: absolute;
    left: 37px;
    top: 35px; }

#history {
  overflow: auto;
  padding: 0; }
  #history .ava img {
    margin-right: 5px; }
  #history .mCSB_container:empty {
    cursor: wait;
    min-height: 229px;
    text-align: center;
    padding-top: 85px;
    box-sizing: border-box; }
    #history .mCSB_container:empty::before {
      -webkit-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
      display: inline-block;
      color: #2B587A;
      font-size: 40px;
      content: '\e805';
      font-family: "fontello"; }
  #history .dialog {
    cursor: default;
    display: block;
    overflow: hidden;
    padding: 5px;
    word-break: break-word; }
    #history .dialog + .dialog {
      border-top: 1px solid rgba(86, 124, 164, 0.15); }
    #history .dialog:hover, #history .dialog.open {
      border-color: rgba(86, 124, 164, 0.22);
      background: rgba(86, 124, 164, 0.1); }
      #history .dialog:hover + .dialog, #history .dialog.open + .dialog {
        border-color: rgba(86, 124, 164, 0.3); }
  #history .more {
    cursor: pointer;
    text-align: center; }

/*# sourceMappingURL=popup.css.map */
