<aside ng-controller="SidebarCtrl">
	<a ng-href="https://vk.com/" >
		<translate>Моя Страница</translate>
	</a>
	<a ng-href="https://vk.com/friends" >
		<translate>Друзья</translate>
		<span class="counter" ng-click="main.openSection('friends', $event)" ng-if="stg.counter.friends">
			{{'+'+stg.counter.friends}}
		</span>
	</a>
	<a ng-href="https://vk.com/albums" >
		<translate>Фотографии</translate>
		<span class="counter" ng-if="stg.counter.photos">{{'+'+stg.counter.photos}}</span>
	</a>
	<a ng-href="https://vk.com/video" >
		<translate>Видеозаписи</translate>
		<span class="counter" ng-if="stg.counter.videos">{{'+'+stg.counter.videos}}</span>
	</a>
	<a ng-href="https://vk.com/audio" >
		<translate>Аудиозаписи</translate>
	</a>
	<a ng-href="https://vk.com/im" >
		<translate>Сообщения</translate>
		<span class="counter" ng-click="main.openSection('messages', $event)">
			{{stg.counter.messages ? '+'+stg.counter.messages : '+'}}
		</span>
	</a>
	<a ng-href="https://vk.com/groups" >
		<translate>Группы</translate>
		<span class="counter" ng-if="stg.counter.groups">{{'+'+stg.counter.groups}}</span>
	</a>
	<a ng-href="https://vk.com/feed" >
		<translate>Новости</translate>
	</a>
	<a ng-href="https://vk.com/feed?section=comments" >
		<translate>Комментарии</translate>
		<span class="counter" ng-if="stg.counter.comments">{{'+'+stg.counter.comments}}</span>
	</a>
</aside><!--

--><div id="friends-online" class="panel" ng-controller="FriendsCtrl">
	<a class="item item" ng-repeat="user in stg.friends track by $index" ng-href="https://vk.com/{{user.screen_name}}">
		<img ng-src="{{user.photo_100}}" alt="{{user.first_name}}">
		<span>{{user.first_name}}</span>
	</a>
</div>