<menu id="menu" ng-controller="SidebarCtrl">
	<li id="{{item.id}}" ng-repeat="item in menu">
		<a ng-href="{{item.url}}" >
			<span>{{item.ancor}}</span>
			<span ng-if="item.counter" class="counter" ng-click="main.openSection(item.id, $event)">
				{{stg.counter[item.id] ? '+'+stg.counter[item.id] : item.default || ''}}
			</span>
		</a>
	</li>
</menu><!--

--><div id="friends-online" class="panel" ng-controller="FriendsCtrl">
	<a class="item" ng-repeat="user in stg.friends track by $index" ng-href="https://vk.com/{{user.domain}}">
	<a class="item" ng-repeat="user in stg.profiles track by $index" ng-href="https://vk.com/{{user.screen_name}}">
		<img ng-src="{{user.photo_100}}" alt="{{user.first_name}}">
		<span>{{user.first_name}}</span>
	</a>
</div>