<!DOCTYPE html>
<html ng-app="OptionsApp">
<head>
	<title loc >Settings</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../HeaderApp/css/header.css">
	<link rel="stylesheet" href="css/style.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../fontawesome/css/font-awesome.min.css">

	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
	<script src="../bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>

	<script src="../Translations/all.js"></script>

	<script src="../StorageApp/StorageClass.js"></script>
	<script src="../StorageApp/StorageApp.js"></script>
	<script src="../VkApp/js/VkApp.js"></script>
	<script src="../VkApp/js/VkFactory.js"></script>

	<script src="../HeaderApp/js/HeaderApp.js"></script>
	<script src="../HeaderApp/js/HeaderCtrl.js"></script>

	<script src="js/OptionsApp.js"></script>
	<script src="js/OptionsCtrl.js"></script>

</head>
<body>
	<ng-include src="'../HeaderApp/HeaderTempl.html'" class="header"></ng-include>
	<div class="wrapper" ng-controller="OptionsCtrl as controller">
		<iframe class="group news" name="fXDc2eac" frameborder="0" src="https://vk.com/widget_community.php?app=0&amp;width=380px&amp;_ver=1&amp;gid=90041499&amp;mode=2&amp;color1=FFFFFF&amp;color2=2B587A&amp;color3=5B7FA6&amp;class_name=&amp;height=470&amp;url=https%3A%2F%2Fvk.com%2Fdev%2FCommunity%3Fheight%3D470%26link%3Dhttps%253A%252F%252Fvk.com%252Fvknotice%26mode%3D2%26oid%3D-90041499%26wide%3D%26width%3D250&amp;14eb7275869" width="380" height="200" scrolling="no" id="vkwidget7" style="overflow: hidden; height: 470px;"></iframe>
		<div class="panel noty">
			<div class="header" translate >Настройки уведомлений</div>
			<div class="content">
				<label>
					<input ng-model="controller.options.friends" type="checkbox"/>
					<i ng-class="['fa', 'fa-square-o', {'fa-check-square': controller.options.friends}]"></i>
					<translate>Сообщать о заявках в друзья</translate>
				</label>
				<label>
					<input ng-model="controller.options.photos" type="checkbox"/>
					<i ng-class="['fa', 'fa-square-o', {'fa-check-square': controller.options.photos}]"></i>
					<translate>Сообщать об отметках на фотографиях</translate>
				</label>
				<label>
					<input ng-model="controller.options.videos" type="checkbox"/>
					<i ng-class="['fa', 'fa-square-o', {'fa-check-square': controller.options.videos}]"></i>
					<translate>Сообщать об отметках в видеозаписях</translate>
				</label>
				<label>
					<input ng-model="controller.options.messages" type="checkbox"/>
					<i ng-class="['fa', 'fa-square-o', {'fa-check-square': controller.options.messages}]"></i>
					<translate>Сообщать о личных сообщениях</translate>
				</label>
				<label>
					<input ng-model="controller.options.groups" type="checkbox"/>
					<i ng-class="['fa', 'fa-square-o', {'fa-check-square': controller.options.groups}]"></i>
					<translate>Сообщать о приглашениях в группы</translate>
				</label>
				<label>
					<input ng-model="controller.options.notifications" type="checkbox"/>
					<i ng-class="['fa', 'fa-square-o', {'fa-check-square': controller.options.notifications}]"></i>
					<translate>Сообщать об ответах</translate>
				</label>
				<label>
					<input ng-model="controller.options.comments" type="checkbox"/>
					<i ng-class="['fa', 'fa-square-o', {'fa-check-square': controller.options.comments}]"></i>
					<translate>Сообщать о новых комментариях</translate>
				</label>
			</div>
		</div>

		<div class="panel audioOption">
			<div class="header" translate >Звуковые уведомления</div>
			<div class="content">
				<label ng-class="{'active': controller.options.audio == 0}">
					<i class="fa fa-volume-off"></i>
					<translate>Выключить</translate>
					<input ng-model="controller.options.audio" type="radio" value="0"/>
				</label>
				<label ng-class="{'active': controller.options.audio == 1}">
					<i class="fa fa-volume-down"></i>
					<translate>При закрытом ВК</translate>
					<input ng-model="controller.options.audio" type="radio" value="1"/>
				</label>
				<label ng-class="{'active': controller.options.audio == 2}">
					<i class="fa fa-volume-up"></i>
					<translate>Всегда</translate>
					<input ng-model="controller.options.audio" type="radio" value="2"/>
				</label>
			</div>
		</div>

		<button ng-disabled="controller.isOptionSaved()" ng-click="controller.saveOptions()" class="save">
			<translate ng-show="controller.isOptionSaved()">Сохранено</translate>
			<translate ng-hide="controller.isOptionSaved()">Сохранить</translate>
		</button>

		<button ng-click="" class="reset"><i class="fa fa-trash-o fa-lg"></i> <translate>Удалить кэш</translate></button>
	</div>
	<div id="donate"></div>
</body>
</html>
