<!DOCTYPE html>
<html ng-app="OptionsApp">
<head>
	<title ng-bind="'Настройки'|translate">Настройки</title>
	<meta charset="UTF-8">
	<!-- build:css /vendors/css/fonts.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../bower_components/roboto-font/css/roboto.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css /HeaderApp/HeaderApp.css -->
	<link rel="stylesheet" href="../HeaderApp/css/header.css">
	<!-- endbuild -->
	<!-- build:css /OptionsApp/OptionsApp.css -->
	<link rel="stylesheet" href="css/style.css">
	<!-- endbuild -->

</head>
<body>
	<div class="header-container">
		<vk-header></vk-header>
	</div>
	<div class="wrapper" ng-controller="OptionsCtrl as vm">
		<div class="option-panels">
			<div class="panel noty box">
				<div class="header" translate >Настройки уведомлений</div>
				<div class="content">
					<label>
						<checkbox-option param="vm.options.friends"></checkbox-option>
						<translate>Сообщать о заявках в друзья</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.photos"></checkbox-option>
						<translate>Сообщать об отметках на фотографиях</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.videos"></checkbox-option>
						<translate>Сообщать об отметках в видеозаписях</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.messages"></checkbox-option>
						<translate>Сообщать о личных сообщениях</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.groups"></checkbox-option>
						<translate>Сообщать о приглашениях в группы</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.wall"></checkbox-option>
						<translate>Сообщать о записях</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.mentions"></checkbox-option>
						<translate>Сообщать об упоминаниях в записях, в комментариях или в обсуждениях</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.comments"></checkbox-option>
						<translate>Сообщать о комментариях к записям, фотографиям и видеозаписям</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.likes"></checkbox-option>
						<translate>Сообщать об отметках «Мне нравится»</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.reposts"></checkbox-option>
						<translate>Сообщать о скопированных записях, фотографиях и видеозаписях</translate>
					</label>
					<label>
						<checkbox-option param="vm.options.followers"></checkbox-option>
						<translate>Сообщать о новых подписчиках</translate>
					</label>
				</div>
			</div>

			<div class="panel audioOption box">
				<div class="header" translate >Звуковые уведомления</div>
				<div class="content">
					<label ng-class="{'active': vm.options.audio == 0}">
						<i class="fa fa-volume-off"></i>
						<translate>Выключить</translate>
						<input ng-model="vm.options.audio" type="radio" ng-value="0"/>
					</label>
					<label ng-class="{'active': vm.options.audio == 1}">
						<i class="fa fa-volume-down"></i>
						<translate>При закрытом ВК</translate>
						<input ng-model="vm.options.audio" type="radio" ng-value="1"/>
					</label>
					<label ng-class="{'active': vm.options.audio == 2}">
						<i class="fa fa-volume-up"></i>
						<translate>Всегда</translate>
						<input ng-model="vm.options.audio" type="radio" ng-value="2"/>
					</label>
				</div>
			</div>

			<div class="buttons-conteiner box">
				<button ng-disabled="!vm.isOptionNotSaved()" ng-click="vm.saveOptions()" ng-class="'save'" disabled="disabled" >
					<translate ng-hide="vm.isOptionNotSaved()">Сохранено</translate>
					<translate ng-show="vm.isOptionNotSaved()">Сохранить</translate>
				</button>
				<button ng-click="vm.clearData()" class="clear"><i class="fa fa-trash-o fa-lg"></i> <translate>Удалить все данные расширения</translate></button>
			</div>
		</div>
		<div class="widget box" id="vk_groups"></div>
	</div>
	<!-- build:js /vendors/js/vendors.js -->
	<!-- bower:js -->
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-gettext/dist/angular-gettext.js"></script>
	<script src="../bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
	<script src="../bower_components/linkifyjs/linkify.js"></script>
	<script src="../bower_components/linkifyjs/linkify-string.js"></script>
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="../bower_components/ng-focus-if/focusIf.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:js /Translations/all.js -->
	<!-- inject:js -->
	<script src="../Translations/be.js"></script>
	<script src="../Translations/de.js"></script>
	<script src="../Translations/en.js"></script>
	<script src="../Translations/nl.js"></script>
	<script src="../Translations/pl.js"></script>
	<script src="../Translations/ro.js"></script>
	<script src="../Translations/uk.js"></script>
	<!-- endinject -->
	<!-- endbuild -->
	<!-- build:js /StorageApp/StorageApp.js -->
	<script src="../StorageApp/StorageService.js"></script>
	<script src="../StorageApp/StorageApp.js"></script>
	<!-- endbuild -->
	<!-- build:js /VkApp/VkApp.js -->
	<script src="../VkApp/js/VkService.js"></script>
	<script src="../VkApp/js/VkApp.js"></script>
	<!-- endbuild -->
	<!-- build:js /HeaderApp/HeaderApp.js -->
	<script src="../HeaderApp/js/HeaderCtrl.js"></script>
	<script src="../HeaderApp/js/HeaderApp.js"></script>
	<!-- endbuild -->
	<!-- build:js /libs/Helpers.js -->
	<script src="../libs/helpers/Helpers.js"></script>
	<!-- endbuild -->
	<!-- build:js /OptionsApp/OptionsApp.js -->
	<script src="../libs/vk/openapi.js"></script>
	<script src="./js/OptionsCtrl.js"></script>
	<script src="./js/OptionsApp.js"></script>
	<!-- endbuild -->
</body>
</html>
